.ads-btn{
    width: 70%;
    transform: translate(-50%);
    left: 50%;
    bottom: 1%;
    padding: 1rem;
    border-radius: clamp(27px, 2rem,100vw);
    cursor: pointer;
    user-select: none;
    background-color: var(--ads-bg-color);
    border: solid 0.5rem var(--ads-border-color);
    
}
.ads-btn h2{
font-size:  clamp(29px,4vw,100vw);
color: var(--ads-text-color);
}
@media (max-width: 768px) and (orientation: landscape) {


}

@media (max-width: 576px) {
    .ads-btn{

        padding: 0.7rem;
        border-radius: clamp(20px, 1rem,100vw);        
    }

}



@media screen and (orientation: portrait) {
    .ads-btn{
        width: 85%;
        padding: 1rem;        
    }
    .ads-btn h2{
        font-size:  clamp(29px,7vw,100vw);
      }
}

/* Landscape */
@media screen and (orientation: landscape) {}