.pos-specifications{
    width: 60%;
}
.pos-product-info{
    width: 40%;
    background-color: #eeee;
}
.pos-product-info .bill{
    background-color: #fff;
}
.pos-bill-show{
    height: 30%;
}
.pos-product-show{
    height: 70%;
}
.pos-adressBoxcontainer ul{
    list-style: none;

}
.pos-adressBoxcontainer ul li{
    transition: 0.4s;
    }
.pos-adressBoxcontainer ul li:hover{
background-color: #e6e6e6;
}
.pos-adressBoxcontainer ul li:last-child:hover{
    background-color: unset;
    }
.pos-memoryadres{
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #212121 !important;
}
.collapse-content .calcu-testcontainer{
    width: 50%;
    margin: auto;
}
.pos-adressBoxcontainer .input-group-text{
    width: 15cqw;
  }
  .pos-adressBoxcontainer .input-group-text{
    width: 15cqw;
  }
  .pos-adressBoxcontainer .search-bar input{
    font-size: 5cqw;
  }
  .pos-adressBoxcontainer .search-bar input::placeholder{
    font-size: 5cqw;
  }
  .pos-address-opener svg{
    rotate: 90deg;
  }  
  .check-pass{
    background-color: #FFB443;
    border: #212121 4px solid;
    color: #ffff;
    padding: 1.5%;
    cursor: pointer;
  }
  .check-pass h2{
    font-size: 2cqw;
  }
@media screen and (orientation: portrait) {
    .pos-specifications{
        width: 100%; 
        height: 100%;
        order: 2;
    }
    .pos-product-info{
        width: 100%; 
        order: 1;
    }
    .pos-bill-show{
        height: fit-content;
    }
    .pos-product-show{
        height: fit-content;
    }
    .collapse-content .calcu-testcontainer {
        width: 82%;
    }
    .check-pass h2{
        font-size: 6cqw;
      }

}